{% extends 'base.html' %}
{% load static %}

{% block static %}
    <title>장바구니</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="main_item_title">장바구니</div>
    <div class="cart_box_wrap">
      {% for cart in cart_list %}
        <div id="cartBox">
          <img src="{{cart.product.image.url}}">
          <div>
            <h3>{{cart.product.name}}</h3>
            <div>
              <p id="cart_price">{{cart.product.price}}원</p>
              <p id="cart_num">수량 : {{cart.quantity}}</p>
            </div>
          </div>
        </div>
        <button type="button" onclick="cartDelete({{cart.id}});">삭제하기</button>
      {% endfor %}
    </div>
    <div class="order_bt_wrap">
      <button type="button" onclick="location.href = '{% url 'product:cart_update' %}'">구매하기</button>
      <button type="button" onclick="location.href='{% url 'product:order_list' %}'">구매 내역 확인하기</button>
    </div>
{% endblock %}


