{% extends 'base.html' %}
{% load static %}

{% block static %}
    <title>상품 조회</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/cosDetail.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'js/cosDetail.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="main_item_title">상품 조회</div>
    <div class="cos_detail_wrap">
        <img id="cos_detail_img" src = "{{product.image.url}}"/>
        <div>
            <div class="cos_detail_info">
                <h3 id="cos_detail_title">{{product.name}}</h3>
                <p id="cos_detail_price">{{product.price}}</p>
            </div>
            <div class="division"></div>
            <div class="info">
                장바구니에 넣은 후 구매가능합니다.
            </div>
            <div class="cos_num">
                <button onclick="count('minus');">-</button>
                <div id="num">1</div>
                <button onclick="count('plus');">+</button>
            </div>
            <button type="button" class="cartBt" onclick="pushCart({{product.id}});">장바구니</button>
        </div>
    </div>
{% endblock %}

