{% extends 'base.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <title>올린보영</title>
{% endblock %}

{% block content %}
        <div class="main_item_title">전체 상품 조회</div>
        <div class="main_item_wrap">
            {% for product in product_list %}
                <div class="main_item_box" id="esteelauder" onclick="location.href = '{% url 'product:product_detail' product.id %}'">
                    <img src="{{product.image.url}}" />
                    <div class="main_item_price">
                        <p id="name">{{product.name}}</p>
                        <p id="price">{{product.price}}원</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="footer">
            <p>Copyright ⓒ 2023 <br/>202010904 이혜린</p>
        </div>
{% endblock%}


